---
import TerminalLine from "@/components/terminal-line";
---
<TerminalLine prompt="whoami" className={""}>
  <h1 class="inline text-base font-normal text-green-500">Diego Ramil Alvarez - Full Stack Web Developer in Spain</h1>
</TerminalLine>
